header{
  i{
    display: none!important;
    float: right;
    padding: 10px;
    font-size: 60px;
    transition: .2s;
    @include mobile{
      display: block!important;
    }
    @include btn;
    &:active{
      transform: scale(0.95);
    }

  }
  .admin-navi{
    position: fixed;
    top: 10px;
    left: 10px;
    @include mobile{
      display: none;
    }
    a{
      font-size: 20px;
      margin-left: 15px;
      color: $bg_light;
    }
  }
  .menu-opac{
    opacity: 0.3;
  }
  .menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    @include mobile{
      display: none;
    }
    ul{
      display: flex;
      justify-content: space-around;
      li{
        width: 25%;
        font-size: 20px;
        line-height: 40px;
        background: $bg_light;
        position: relative;
        transition: 0.3s;
        @include btn;
        &:hover{
          color: #fff;
        }
        .txt{
          position: relative;
          z-index: 9999;
        }
        .upper{
          top: 0;
          left: 0;
          height: 25px;
          @include menu;
        }
        .lower{
          bottom: 0;
          right: 0;
          height: 15px;
          @include menu;
        }
      }
      .active{
        background: $bg_dark;
        color: #fff;
      }
    }
  }
}
