.element{
  position: absolute;
  color: red;
  font-size: 22px;
}
.fade-enter{
  opacity: 0.5;
}
.fade-enter-active{
  opacity: 1;
  transition: all 1s ease-out;
}
.fade-enter-done{
  opacity: 1;
  transition: all .4s ease-out;
}
//colors
.blue{
  color: blue;
}
.green{
  color: green;
}
.white{
  color: white;
}

//material
.material{
  position: absolute;
  top: 500px;
  left: 660px;
  font-size: 22px;
  z-index: 1000;
  background: white;
}
.material-enter-active{
  opacity: 1;
  transition: all 3s ease-out;
}
.material-big{
  width: 10px;
  height: 10px;
}
.material-medium{
  width: 4px;
  height: 4px;
}
.material-small{
  width: 2px;
  height: 2px;
}
