body {
  width: 100%;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight:400;
  background: $bg_dark;
  position: relative;
  overflow-x: hidden;
}
textarea{
  font-family: 'Roboto',sans-serif;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
li{
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.Experience .h2-enter-done{
  transform: translateX(0);
  opacity: 1;
}
.Projects .h2-enter-done{
  transform: translateX(0);
  opacity: 1;
}
.Contacts .h2-enter-done{
  transform: translateX(0);
  opacity: 1;
}
h4{
  margin-top: 20px;
  font-size: 30px;
}
button{
  transition: .1s;
  &:active{
    transform: scale(0.95);
  }
}