@mixin btn{
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
}
@mixin cat_title{
  font-size: 50px;
  color: #fff;
  transition: 1s;
  opacity: 0;
  transform: translateX(-100%);
  @include mobile{
    font-size: 40px;
  }
}
@mixin inputs{
  margin-top: 40px;
  padding:0 20px;
  line-height: 36px;
  box-sizing: border-box;
  background: $bg_midlight;
  border: 0px;
  font-size: 18px;
  color: $bg_light;
}
@mixin menu{
  position: absolute;
  background: $bg_dark;
  width: 0%;
  z-index: 0;
  transition: all 0.3s linear;
}
@mixin admin-content{
  width: 80%;
  margin: auto;
  color: $bg_dark;
}