.Contacts{
  margin-top: 70px;
  padding-bottom: 100px;
  box-sizing: border-box;
  h2{
    @include cat_title;
  }
  p.title{
    margin: 100px auto;
    margin-bottom: 50px;
    width: 60%;
    color: $bg_light;
    font-size: 22px;
    line-height: 1.5;
    &::first-letter{
      text-transform: capitalize;
    }
    @include tablet-portrait{
      width: 80%;
    }
    @include mobile{
      font-size: 18px;
    }
  }
  .input-box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .wrapper{
      width: 47%;
    }
  }
  input{
    margin-top: 50px;
    width: 100%;
    @include inputs;
  }
  textarea{
    margin-top: 50px;
    width: 100%;
    min-height: 200px;
    @include inputs;
  }
  button{
    @include btn;
    @include inputs;
  }
  .errors{
    text-align: left;
  }
}