.Contacts{
  padding-top: 70px;
  padding-bottom: 100px;
  h2{
    @include cat_title;
  }
  p.title{
    margin: 100px auto;
    margin-bottom: 50px;
    width: 60%;
    color: $bg_light;
    font-size: 22px;
    line-height: 1.5;
    &::first-letter{
      text-transform: capitalize;
    }
    @include tablet-portrait{
      width: 80%;
    }
    @include mobile{
      margin-top: 50px;
      font-size: 16px;
    }
  }
  .input-box{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .wrapper{
      width: 47%;
      @include mobile{
        width: 100%;
      }
    }
  }
  input{
    width: 100%;
    @include inputs;
    @include mobile{
      margin-top: 25px;
    }
  }
  textarea{
    width: 100%;
    min-height: 200px;
    @include inputs;
    @include mobile{
      margin-top: 30px;
      min-height: 120px;
    }
  }
  button{
    @include btn;
    @include inputs;
  }
  .errors{
    text-align: left;
  }
  .fa-angle-up{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    color: #fff;
    @include btn;
    animation: toTopBtn 2s ease-out infinite;
  }
}