.Experience{
  padding-top: 70px;
  padding-bottom: 100px;
  @include mobile{
    padding-bottom: 40px;
    padding-top: 35px;
  }
  h2{
    @include cat-title;
    margin-bottom: 100px;
    @include mobile{
      margin-bottom: 50px;
    }
  }
  .skills-enter-done{
    opacity: 1!important;
  }
  //abilities
  .internals{
    width: 100%;
    margin-top: 70px;
    background: $bg_midlight;
    box-shadow: inset 0 0 20px 2px black;
    overflow-x: hidden;
    .box-enter-done{
      opacity: 1!important;
      transform: translateX(0)!important;
    }
    .box{
      display: flex;
      justify-content: space-between;
      padding: 40px 20px;
      opacity: 0;
      transform: translateX(100%);
      transition: 1s;
      @include tablet-portrait{
        padding: 20px 10px;
      }
      @include mobile{
        display: block;
        padding: 10px 5px;
      }
    }
    .wrapper{
      display: flex;
      justify-content: space-around;
      width: 20%;
      height: 200px;
      background: $bg_light;
      border-radius: 10px;
      box-shadow: 0 0 20px 2px black;
      @include tablet-portrait{
        height: 150px;
        h4{
          font-size: 16px;
        }
      }
      @include mobile{
        margin: 20px auto;
        width: 45%;
        height: 100px;
        h4{
          display: none;
        }
      }
    }
    .ability-enter-active{
      transition: .6s;
      width: 500px;
      @include tablet-portrait{
        width: 50%;
      }
      @include mobile{
        width: 95%;
      }
    }
    .ability-enter-done{
      width: 500px;
      @include tablet-portrait{
        width: 50%;
      }
      @include mobile{
        width: 95%;
        h4{
          display: block;
        }
      }
    }
    .ability-exit{
      transition: .6s;
      width: 20%;
      @include mobile{
        width: 45%;
      }
    }
    .img-box{
      display: inline-block;
      margin: auto;
      width: 100px;
      transition: 1s;
      @include mobile{
        h4{
          font-size: 16px;
        }
      }
    }
    .content{
      margin: auto;
      display: inline-block;
      transition: .6s;
      width: 50%;
      align-self: center;
      text-align: center;
      animation: content-show 1s linear forwards;
      p{
        font-size: 20px;
        line-height:25px;
        @include tablet-portrait{
          font-size: 14px;
        }
      }
      .contnet-disabled{
        animation: content-disable 1s linear forwards;
      }
    }
    .content-enter{
      opacity: 0;
      display: none;
    }
    .content.enter-active{
      display: block;
      opacity: 0.1;
      transition: 1s;
    }
    .content-enter-done{
      opacity: 1;
      transition: 1s;
    }
    img{
      margin-top: 25px;
      width: 100px;
      @include tablet-portrait{
        width: 60px;
        margin-top: 5px;
      }
    }
    h4{
      margin-top: 25px;
      font-size: 22px;
      text-transform: capitalize;
      @include mobile{
        margin-top: 10px;
      }
    }
  }




  //skills
  .skills-box{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    opacity: 0;
    transition: 2s;
    @include mobile{
      margin-top: 60px;
    }
    img{
      width: 60%;
      padding-top: 15px;
      @include tablet-portrait{
        padding-top: 15px;
      }
    }
    .skill-bar{
      position: relative;
      height: 300px;
      width: 50%;
      margin: auto;
      background: $bg_midlight;
      box-shadow: 0 0 20px 5px #000;
      @include mobile{
        height: 200px;
      }
      .skill-active{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #117600;
        box-shadow: inset 0 0 20px 5px #18c900;
        &:before{
          transform: scale(-1);
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top:0;
          left: 0;
          background: linear-gradient(
              0deg,
              transparent 10%,
              rgba(255,255,255,0.12) 25%,
              rgba(255,255,255,0.12) 60%,
              transparent 40%
          );
          background-size: 100% 30px;
          animation: shift 2.5s linear infinite;
        }
      }
      p{
        padding-top: 15px;
        font-size: 20px;
        font-weight: 700;
        color: $bg_dark;
        @include tablet-portrait{
          font-size: 16px;
          font-weight: 500;
        }
        @include mobile{
          font-size: 10px;
        }
      }
      .line{
        width: 90%;
        height: 5px;
        position: absolute;
        bottom: 20%;
        left: 0;
        background: #18c900;
        box-shadow: inset 0 0 5px 5px #18c900;
      }
    }
  }
}