.home{
  position: relative;
  .box{
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include mobile{
      padding-top: 25%;
      flex-wrap: wrap;
    }
  }
  .content-left{
    width: 50%;
    @include mobile{
      width: 100%;
    }
    h2{
      padding-top: 80px;
      width: 90%;
      font-size: 50px;
      color: #fff;
      line-height: 1.5;
      text-align: center;
      text-justify: inter-word ;
      @include tablet-landscape{
        font-size: 38px;
      }
      @include tablet-portrait{
        font-size: 32px;
      }
      @include mobile {
        width: 60%;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 99;
      }
    }
    span{
      animation: blink .6s infinite;
    }
  }
  .content-right{
    width: 50%;
    @include mobile{
      width: 100%;
    }
    .window{
      width: 510px;
      height: 510px;
      background: $bg_light;
      position: absolute;
      top: -2px;
      left: -2px;
      overflow: hidden;
      clip-path: polygon(0 33.33%, 33.33% 0, 92% 0, 100% 9.8%, 100% 66.67%, 66.67% 100%, 9.8% 100%, 0 92%);
      -webkit-clip-path: polygon(0 33.33%, 33.33% 0, 92% 0, 100% 9.8%, 100% 66.67%, 66.67% 100%, 9.8% 100%, 0 92%);
      @include tablet-landscape{
        width: 400px;
        height: 400px;
      }
      @include tablet-portrait{
        width: 340px;
        height: 340px;
      }
      @include mobile{
        width: 300px;
        height: 300px;
      }
    }
    .window-border{
      width: 512px;
      height: 512px;
      margin: auto;
      position: relative;
      clip-path: polygon(0 33.46%, 33.46% 0, 89.5% 0, 100% 9.73%, 100% 66.93%, 66.93% 100%, 9.73% 100%,0 89.7% );
      -webkit-clip-path: polygon(0 33.46%, 33.46% 0, 89.5% 0, 100% 9.73%, 100% 66.93%, 66.93% 100%, 9.73% 100%,0 89.7% );
      background: #761800;
      @include tablet-landscape{
        width: 402px;
        height: 402px;
      }
      @include tablet-portrait{
        width: 342px;
        height: 342px;
      }
      @include mobile{
        width: 302px;
        height: 302px;
      }
    }
    img{
      width: 770px;
      height: 770px;
      transition: .1s;
      @include tablet-landscape{
        width: 604px;
        height: 604px;
      }
      @include tablet-portrait{
        width: 513px;
        height: 513px;
      }
      @include mobile{
        width: 440px;
        height: 440px;
      }
    }
  }
}