.menu{
  width: 1200px;
  margin: auto;
  ul{
      display: flex;
      justify-content: space-around;
    li{
      width: 20%;
      display: inline;
      font-size: 20px;
      line-height: 40px;
      background: #a6a9a9;
      position: relative;
      @include btn;
      .upper{
        position: absolute;
        top: 0;
        left: 0;
        background: #e6edee;
        width: 0%;
        height: 25px;
      }
    }
    .active{
      background: #323535;
      color: #fff;
    }
  }

}