.home{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  .content-left{
    position: relative;
    width: 60%;
    h2{
      padding-top: 60px;
      width: 80%;
      font-size: 60px;
      color: #fff;
      line-height: 100px;
    }
    span{
      animation-name: blink;
      animation-duration: .6s;
      animation-iteration-count: infinite;

    }
  }
  .content-right{
    width: 40%;
    .window{
      width: 510px;
      height: 510px;
      margin: auto;
      background: $bg_light;
      position: absolute;
      top: -2px;
      left: -2px;


      //clip-path: polygon(0 170px, 170px 0, 510px 0,510px 340px,340px 510px,0 510px);
      clip-path: polygon(0 170px, 170px 0, 460px 0,510px 50px,510px 340px,340px 510px,50px 510px,0 460px );
    }
    .window-border{
      width: 512px;
      height: 512px;
      margin: auto;
      position: relative;
      clip-path: polygon(0 172px, 172px 0, 460px 0,514px 50px,512px 344px,344px 514px,50px 514px,0 461px );
      background: #761800;
    }
    img{
      width: 770px;
      height: 770px;
      transition: .1s;
    }

  }
}